<div class="content">
  <p class="about-header">About.</p>

  <div class="about-block">
    <p>Angular project connected to this public
      <a target="_blank" href="https://jsonplaceholder.typicode.com">REST-api</a>.</p>
    <p>
      Task: display POSTS (with pagination, 20 per page) and for each post a list of COMMENTS.
    </p>
  </div>

  <div class="about-block">
    JSON Placeholder <br/>
    Free fake API for testing and prototyping.
    Powered by JSON Server + LowDB. Tested with XV.
    As of Oct 2021, serving ~1.7 billion requests each month.
  </div>
</div>
